In [ ]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
    }
</style>

In [ ]:
## interviews with no questions 
# AlexandraWilkis
# AlexavonTobel
# BingGordon (no specific questions)
# CarlGalioto
# TeresaATaylor 
# TonyHsieh
# DavidSacks (no specific questions)
# JacquelineKosecoff (no specific questions)
# JennaFagnan (no specific questions)
# KevinOConnor (no specific questions)
# KevinSharer (no specific questions)
# LeilaJanah (no specific questions)
# SukhinderSinghCassidy (no specific questions)

In [1]:
%matplotlib inline 
import pandas as pd

In [2]:
import os
os.chdir('C://Users//2918261//Dropbox//Corner Office Interviews//ComparisonCorpusQuestions_Text')
os.getcwd()
## C://Users//2918261//Courses//Oslo Summer School//notebooks//Interviews//Text

'C:\\Users\\2918261\\Dropbox\\Corner Office Interviews\\ComparisonCorpusQuestions_Text'

In [3]:
pd.set_option('display.max_colwidth', 120)

## Drop people from 2018 - 2019

In [4]:
table = pd.read_excel('ComparisonCorpusQuestionsMeta.xlsx')

In [5]:
table.iloc[[5, 14, 52, 101, 125, 167, 189, 193, 194, 200, 210, 226, 273, 276, 292, 293, 353, 360, 362, 365, 378, 413, 434, 436, 491, 502, 531]]

,Name,Gender,Organization,Current Age,Stock Market Info,NativeSpeaker,Traded,MBA,Podcast,Podcast_Date,...,Essay,Essay_Link,Other Sources_Date,Other Sources,Other Sources_Link,Other Sources_Details,Sector_Grouped,Gender_Interviewer,Notes,Unnamed: 31
5,AdenaFriedman,F,Nasdaq,50,NaN,1,0,1,0.0,NaN,...,0.0,NaN,2019-03-03,1,https://www.nytimes.com/2019/03/03/business/new-work-summit-questions.html,Business Leaders Set the A.I. Agenda,4,Drop,NaN,NaN
14,AlexisOhanian,M,Reddit,36,NaN,1,0,0,1.0,09.10.2014,...,0.0,NaN,NaT,0,NaN,NaN,2,Drop,NaN,NaN
52,BernardoHees,M,Kraft Heinz,53,NASDAQ,0,1,1,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,4,Drop,NaN,NaN
101,ChrisPaul,M,National Basketball Players Association,34,NA,1,0,0,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,1,NaN,NaN,NaN
125,DanSchulman,M,PayPal,61,NASDAQ,1,1,1,0.0,NaN,...,0.0,NaN,2008-02-24,1,https://www.nytimes.com/2008/02/24/jobs/24boss.html,Teamworkâ€™s Rewards,4,Drop,NaN,NaN
167,EileenFisher,F,EILEEN FISHER Inc,68,NaN,1,0,0,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,1,Drop,NaN,NaN
189,GreggRenfrew,F,Counter Brands LLC,51,NaN,1,0,0,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,1,Female,NaN,NaN
193,HadiPartovi,M,Code.org,48,NaN,0,0,0,1.0,2017-04-20 00:00:00,...,0.0,NaN,NaT,0,NaN,NaN,1,Drop,NaN,NaN
194,HamdiUlukaya,M,Chobani,46,NaN,0,0,0,0.0,NaN,...,0.0,NaN,2014-10-25,1,https://www.nytimes.com/2014/10/26/opinion/sunday/hamdi-ulukaya.html?searchResultPosition=1,Hamdi Ulukaya,4,Drop,NaN,NaN
200,HollyBranson,F,Virgin Group,37,NaN,0,0,0,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,4,Drop,NaN,NaN
210,JamesDyson,M,Dyson Ltd,72,NaN,0,0,0,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,1,Drop,NaN,NaN
226,JeffRaider,M,Harry's Inc,39,NaN,1,0,1,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,4,Drop,NaN,NaN
273,JuliaHartz,F,Eventbrite Inc,39,NYSE,1,1,0,1.0,2019-01-02 00:00:00,...,0.0,NaN,NaT,0,NaN,NaN,2,Drop,NaN,NaN
276,JulieSweet,F,Accenture plc,51,NYSE,1,1,0,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,1,Female,NaN,NaN
292,KatrinaLake,F,Stitch Fix,36,NASDAQ,1,1,1,1.0,2018-05-30 00:00:00,...,0.0,NaN,NaT,0,NaN,NaN,1,Drop,NaN,NaN
293,KenFrazier,M,Merck,64,NYSE,1,1,0,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,4,Drop,NaN,NaN
353,MarcBenioff,M,Salesforce.com,55,NYSE,1,1,0,1.0,2018-09-25 00:00:00,...,1.0,https://www.nytimes.com/2018/10/24/opinion/business-social-responsibility-proposition-c.html,NaT,0,NaN,NaN,2,Drop,NaN,NaN
360,MarissaMayer,F,Yahoo,44,NaN,1,0,0,1.0,06.04.2019,...,1.0,https://yahoo.tumblr.com/post/147941303269/verizon-to-acquire-yahoos-operating-business,NaT,0,NaN,NaN,2,Drop,NaN,NaN
362,MarkBertolini,M,Aetna Inc,63,NaN,1,0,1,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,4,Drop,NaN,NaN
365,MarkHoplamazian,M,Hyatt Hotels Corp,55,NYSE,1,1,1,1.0,2017-10-25 00:00:00,...,0.0,NaN,NaT,0,NaN,NaN,1,Drop,NaN,NaN
378,MichaelEvans,M,Alibaba.com Ltd,62,NYSE,0,1,0,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,1,Drop,NaN,NaN
413,PaulaSchneider,F,Susan G Komen,61,NaN,1,0,0,0.0,NaN,...,1.0,https://thehill.com/opinion/healthcare/426445-breast-cancer-is-not-a-partisan-issue-we-need-to-work-together-to-address,NaT,0,NaN,NaN,1,Drop,NaN,NaN
434,RebeccaLynn,F,Canvas Ventures,45,NaN,1,0,1,0.0,NaN,...,0.0,NaN,NaT,0,NaN,NaN,4,Drop,NaN,NaN
436,RichardBranson,M,Virgin Group,69,NaN,0,0,0,1.0,02.02.2018,...,0.0,NaN,NaT,0,NaN,NaN,4,Drop,NaN,NaN
491,StacyBrownPhilpot,F,TaskRabbit,42,NaN,1,0,1,1.0,22.06.2016,...,0.0,NaN,NaT,0,NaN,NaN,2,NaN,NaN,NaN
502,SundarPichai,M,Google LLC,47,NASDAQ,0,1,1,0.0,NaN,...,1.0,https://www.theverge.com/2019/6/12/18663017/google-ceo-sundar-pichai-lgbtq-employees-letter-harassment,NaT,0,NaN,NaN,2,NaN,NaN,NaN
531,TristanWalker,M,Walker & Co Brands Inc,35,NA,1,0,1,1.0,27.11.2017,...,0.0,NaN,NaT,0,NaN,NaN,4,Drop,NaN,NaN

In [6]:
table = table.drop([5, 14, 52, 101, 125, 167, 189, 193, 194, 200, 210, 226, 273, 276, 292, 293, 353, 360, 362, 365, 378, 413, 434, 436, 491, 502, 531])

In [8]:
table = table.reset_index(drop = True).copy()

## Edit Meta Data Table

In [9]:
table = table.sort_values('Name ').copy()

In [10]:
len(table)

522

In [11]:
table['Name '] = table['Name '].str.replace(' ', '').copy()

In [ ]:
# Interview = table[(table['Interview'] == 1)]

In [ ]:
## table.dropna(subset=['Caption_Date'], inplace=True)

In [41]:
# list(table['Name '])

In [42]:
# list(table['Name '])

In [ ]:
# Interview.to_excel('Interview.xlsx', index = False)

## LIWC

In [ ]:
## data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

In [14]:
##interview['Filename'] = interview['Filename'].str.replace(r'Merged_Questions.txt', '')

In [49]:
## interview['Filename'].str.replace(r'\bMerged_Questions.txt$', '', regex = True).str.strip()

In [50]:
## interview['Filename'].map(lambda x: x.rstrip(r'Merged_Questions.txt'))

In [70]:
interview = pd.read_excel('LIWC2015 Results (AaronBellMerged_Questions - YuchunLeeMerged_Questions (522 files)).xlsx')

In [71]:
interview ['Filename'] = interview['Filename'].str.replace(r'Merged_Questions.txt', '')

In [72]:
interview['Filename'] = interview['Filename'].str.replace(r' ', '').copy()

In [73]:
interview = interview.sort_values('Filename').copy()

## Merge the Dataset

In [74]:
interview = interview.merge(table, how = 'left', left_on = 'Filename', right_on = 'Name ')

In [86]:
interview[['Filename', 'Name ', 'WC', 'Clout' ]][500:530]

              Filename              Name     WC  Clout
500           TonyTjan           TonyTjan    62  99.00
501       TraceyMatura       TraceyMatura   114  99.00
502        TracyDolgin        TracyDolgin    80  89.42
503  TracyStreckenbach  TracyStreckenbach   157  99.00
504  TriciaClarkeStone  TriciaClarkeStone    99  99.00
505          ValDiFebo          ValDiFebo   145  99.00
506       ValerieSmith       ValerieSmith   379  98.89
507        VictorAllis        VictorAllis  1321  92.36
508           VictorHo           VictorHo    67  99.00
509     VictoriaRansom     VictoriaRansom   106  99.00
510        VineetNayar        VineetNayar   414  94.44
511         VivekGupta         VivekGupta   140  99.00
512          VivianLee          VivianLee    55  99.00
513         WainKellum         WainKellum   434  92.01
514      WaltBettinger      WaltBettinger    34  99.00
515       WayneJackson       WayneJackson  1037  75.03
516          WendyKopp          WendyKopp  1257  77.51
517           WendyLea           WendyLea   213  99.00
518         WillWright         WillWright   325  99.00
519      WilliamDGreen      WilliamDGreen   374  97.87
520       YorgenEdholm       YorgenEdholm    55  99.00
521          YuchunLee          YuchunLee   165  95.49

In [88]:
interview[['Filename', 'Name ', 'WC', 'Clout' ]][:10]

       Filename         Name     WC  Clout
0     AaronBell           NaN  1368  96.42
1    AaronLevie    AaronLevie  4197  80.31
2     AbbeRaven     AbbeRaven   398  98.58
3    AbeAnkumah    AbeAnkumah   193  98.45
4      AdamNash      AdamNash    61  99.00
5    AdiTatarko    AdiTatarko   232  97.09
6     AileenLee     AileenLee  2348  85.36
7  AlanDabbiere  AlanDabbiere    97  99.00
8  AlanRMulally  AlanRMulally  1223  89.88
9   AlanTrefler   AlanTrefler   685  96.90

In [89]:
interview.loc[interview['Filename']=='AaronBell', 'Name '] = 'AaronBell'

In [90]:
interview[['Filename', 'Name ', 'WC', 'Clout' ]][:10]

       Filename         Name     WC  Clout
0     AaronBell     AaronBell  1368  96.42
1    AaronLevie    AaronLevie  4197  80.31
2     AbbeRaven     AbbeRaven   398  98.58
3    AbeAnkumah    AbeAnkumah   193  98.45
4      AdamNash      AdamNash    61  99.00
5    AdiTatarko    AdiTatarko   232  97.09
6     AileenLee     AileenLee  2348  85.36
7  AlanDabbiere  AlanDabbiere    97  99.00
8  AlanRMulally  AlanRMulally  1223  89.88
9   AlanTrefler   AlanTrefler   685  96.90

## Clean the new table

In [87]:
list(interview.columns)

['Filename',
 'Segment',
 'WC',
 'Analytic',
 'Clout',
 'Authentic',
 'Tone',
 'WPS',
 'Sixltr',
 'Dic',
 'function',
 'pronoun',
 'ppron',
 'i',
 'we',
 'you',
 'shehe',
 'they',
 'ipron',
 'article',
 'prep',
 'auxverb',
 'adverb',
 'conj',
 'negate',
 'verb',
 'adj',
 'compare',
 'interrog',
 'number',
 'quant',
 'affect',
 'posemo',
 'negemo',
 'anx',
 'anger',
 'sad',
 'social',
 'family',
 'friend',
 'female',
 'male',
 'cogproc',
 'insight',
 'cause',
 'discrep',
 'tentat',
 'certain',
 'differ',
 'percept',
 'see',
 'hear',
 'feel',
 'bio',
 'body',
 'health',
 'sexual',
 'ingest',
 'drives',
 'affiliation',
 'achieve',
 'power',
 'reward',
 'risk',
 'focuspast',
 'focuspresent',
 'focusfuture',
 'relativ',
 'motion',
 'space',
 'time',
 'work',
 'leisure',
 'home',
 'money',
 'relig',
 'death',
 'informal',
 'swear',
 'netspeak',
 'assent',
 'nonflu',
 'filler',
 'AllPunc',
 'Period',
 'Comma',
 'Colon',
 'SemiC',
 'QMark',
 'Exclam',
 'Dash',
 'Quote',
 'Apostro',
 'Parenth',
 'OtherP',
 'Name ',
 'Gender',
 'Organization',
 'Current Age',
 'Stock Market Info',
 'NativeSpeaker',
 'Traded',
 'MBA',
 'Podcast',
 'Podcast_Date',
 'Podcast_Link',
 'Podcast_Details',
 'Interview_Date',
 'Interview',
 'Interview_Link',
 'Interview_Details',
 'Caption_Date',
 'Caption',
 'Caption_Link',
 'Caption_Details',
 'Essay_Date',
 'Essay_Title',
 'Essay',
 'Essay_Link ',
 'Other Sources_Date',
 'Other Sources ',
 'Other Sources_Link',
 'Other Sources_Details',
 'Sector_Grouped',
 'Gender_Interviewer',
 'Notes',
 'Unnamed: 31']

In [92]:
interview = interview.drop(columns = ['Segment','Stock Market Info',
 'Podcast_Link',
 'Podcast_Details',
 'Interview_Link',
 'Interview_Details',
 'Caption_Link',
 'Caption_Details',
 'Essay_Title',
 'Essay_Link ',
 'Other Sources_Link',
 'Other Sources_Details']).copy()

In [93]:
interview

,Filename,WC,Analytic,Clout,Authentic,Tone,WPS,Sixltr,Dic,function,...,Caption_Date,Caption,Essay_Date,Essay,Other Sources_Date,Other Sources,Sector_Grouped,Gender_Interviewer,Notes,Unnamed: 31
0,AaronBell,1368,20.97,96.42,40.72,90.71,17.54,12.87,93.49,62.28,...,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,AaronLevie,4197,14.19,80.31,40.53,58.68,8.34,11.94,92.09,63.66,...,NaN,0.0,NaT,0.0,NaT,0.0,3.0,Female,NaN,NaN
2,AbbeRaven,398,44.72,98.58,34.40,34.49,24.88,16.08,89.70,56.28,...,NaN,0.0,NaT,0.0,NaT,0.0,2.0,NaN,NaN,NaN
3,AbeAnkumah,193,65.22,98.45,58.43,44.77,32.17,20.73,88.60,53.37,...,NaN,0.0,NaT,0.0,NaT,0.0,3.0,Female,NaN,NaN
4,AdamNash,61,15.98,99.00,41.26,25.77,20.33,13.11,95.08,67.21,...,NaN,0.0,2018-08-08,1.0,NaT,0.0,4.0,Essay,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,WendyLea,213,58.83,99.00,12.46,52.17,26.62,19.72,90.61,55.87,...,NaN,0.0,NaT,0.0,NaT,0.0,2.0,Female,NaN,NaN
518,WillWright,325,28.84,99.00,21.70,81.28,108.33,14.46,89.23,59.38,...,NaN,0.0,NaT,0.0,NaT,0.0,3.0,Male,NaN,NaN
519,WilliamDGreen,374,29.41,97.87,20.44,75.40,74.80,20.32,92.51,59.89,...,NaN,0.0,NaT,0.0,NaT,0.0,1.0,NaN,NaN,NaN
520,YorgenEdholm,55,46.23,99.00,14.10,25.77,55.00,16.36,98.18,58.18,...,NaN,0.0,NaT,0.0,2014-02-05,1.0,3.0,Other,NaN,NaN
521,YuchunLee,165,47.97,95.49,28.41,60.23,33.00,18.79,87.88,50.91,...,NaN,0.0,NaT,0.0,NaT,0.0,3.0,Female,NaN,NaN

In [96]:
interview = interview.rename(columns = {'Unnamed: 31':'NotesII'}).copy()

In [97]:
interview

,Filename,WC,Analytic,Clout,Authentic,Tone,WPS,Sixltr,Dic,function,...,Caption_Date,Caption,Essay_Date,Essay,Other Sources_Date,Other Sources,Sector_Grouped,Gender_Interviewer,Notes,NotesII
0,AaronBell,1368,20.97,96.42,40.72,90.71,17.54,12.87,93.49,62.28,...,NaN,NaN,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,AaronLevie,4197,14.19,80.31,40.53,58.68,8.34,11.94,92.09,63.66,...,NaN,0.0,NaT,0.0,NaT,0.0,3.0,Female,NaN,NaN
2,AbbeRaven,398,44.72,98.58,34.40,34.49,24.88,16.08,89.70,56.28,...,NaN,0.0,NaT,0.0,NaT,0.0,2.0,NaN,NaN,NaN
3,AbeAnkumah,193,65.22,98.45,58.43,44.77,32.17,20.73,88.60,53.37,...,NaN,0.0,NaT,0.0,NaT,0.0,3.0,Female,NaN,NaN
4,AdamNash,61,15.98,99.00,41.26,25.77,20.33,13.11,95.08,67.21,...,NaN,0.0,2018-08-08,1.0,NaT,0.0,4.0,Essay,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,WendyLea,213,58.83,99.00,12.46,52.17,26.62,19.72,90.61,55.87,...,NaN,0.0,NaT,0.0,NaT,0.0,2.0,Female,NaN,NaN
518,WillWright,325,28.84,99.00,21.70,81.28,108.33,14.46,89.23,59.38,...,NaN,0.0,NaT,0.0,NaT,0.0,3.0,Male,NaN,NaN
519,WilliamDGreen,374,29.41,97.87,20.44,75.40,74.80,20.32,92.51,59.89,...,NaN,0.0,NaT,0.0,NaT,0.0,1.0,NaN,NaN,NaN
520,YorgenEdholm,55,46.23,99.00,14.10,25.77,55.00,16.36,98.18,58.18,...,NaN,0.0,NaT,0.0,2014-02-05,1.0,3.0,Other,NaN,NaN
521,YuchunLee,165,47.97,95.49,28.41,60.23,33.00,18.79,87.88,50.91,...,NaN,0.0,NaT,0.0,NaT,0.0,3.0,Female,NaN,NaN

In [57]:
# list(interview.columns)

In [98]:
interview.to_excel('AAQuestionsMerged.xlsx', index = False)

## Edit Date to Year

In [ ]:
interview = pd.read_excel('Interview.xlsx')

In [ ]:
list(interview.columns)

In [ ]:
interview['Interview_Date'] = pd.to_datetime(interview['Interview_Date'], format = '%d/%m/%Y')

In [ ]:
import datetime as dt
podcast['Year'] = pd.DatetimeIndex(podcast['Podcast_Date']).year

In [ ]:
caption.to_excel('Caption.xlsx', index = False)

## Merge caption and LIWC

In [ ]:
interview = pd.read_excel('Interview.xlsx')

In [ ]:
interview_liwc = pd.read_excel('Interview_LIWC (AbbeRaven - YuchunLee (248 files)).xlsx')

In [ ]:
list(interview['Name '])

In [ ]:
interview_liwc.head()

In [ ]:
interview_liwc.tail()

In [ ]:
LIWC_Interview = pd.concat([interview, interview_liwc], axis=1, sort = False)

In [ ]:
list(LIWC_Interview.columns)

In [ ]:
LIWC_Interview = LIWC_Interview.drop(columns = ['Filename','Segment']).copy()

## Add Sector Dictionary

In [99]:
interview = pd.read_excel('AAQuestionsMerged.xlsx')

In [100]:
Sector_Grouped_Dic = {1: 'Consumer Discretionary',
                      2: 'Communications',
                      3: 'Technology',
                      4: 'Other'}

In [101]:
interview['Sector_Grouped_Dic'] = interview['Sector_Grouped'].replace(Sector_Grouped_Dic)

## Create Fortune Dummy

In [ ]:
def is_question(text): 
    if 'MBA' in text: 
        question = 1
    else: 
        question = 0
    return question

## Gender Dummy

In [102]:
interview['Female'] = interview['Gender'].map({'M': 0, 'F': 1})

In [114]:
interview['Female_Interviewer'] = interview['Gender_Interviewer'].map({'Male': 0, 'Female': 1})

# Add Interview and Source Dummy

In [30]:
interview['Interview'] # already has interview

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
242    1.0
243    1.0
244    1.0
245    1.0
246    1.0
Name: Interview, Length: 247, dtype: float64

## Change the location of source

In [8]:
interview = interview.drop(columns = ['Source']).copy()

In [9]:
interview.insert(loc=1, column='Source', value = 'AInterviews')

In [55]:
# list(interview.columns)

In [35]:
interview = interview.rename(columns = {'Interview_Date':'Date'}).copy()

In [ ]:
from collections import Counter

In [ ]:
Counter(table['Fortune'])

In [ ]:
int = table.groupby(['Female'])['i', 'auxverb', 'posemo', 'negemo', 'social', 'cogproc','verb',
                    'tentat', 'Sixltr', 'we', 'article', 'prep', 'anger', 'swear'].describe().round(2)

In [ ]:
int['negemo']

## Femininity & Masculinity

In [105]:
interview['Communal'] = interview[['i', 'auxverb', 'posemo', 'negemo', 'social', 'cogproc','verb','tentat']].sum(axis = 1)

In [106]:
interview['Agentic'] = interview[['Sixltr', 'we', 'article', 'prep', 'anger', 'swear']].sum(axis = 1)

In [107]:
interview.to_excel('AAQuestionsMerged.xlsx', index = False)

# Find the missing values

In [108]:
interview = pd.read_excel('AAQuestionsMerged.xlsx')

In [111]:
interview[interview.isna().any(axis=1)]

,Filename,WC,Analytic,Clout,Authentic,Tone,WPS,Sixltr,Dic,function,...,Other Sources,Sector_Grouped,Gender_Interviewer,Notes,NotesII,Sector_Grouped_Dic,Female,Female_Interviewer,Communal,Agentic
0,AaronBell,1368,20.97,96.42,40.72,90.71,17.54,12.87,93.49,62.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.76,31.29
1,AaronLevie,4197,14.19,80.31,40.53,58.68,8.34,11.94,92.09,63.66,...,0.0,3.0,Female,NaN,NaN,Technology,0.0,NaN,74.10,28.88
2,AbbeRaven,398,44.72,98.58,34.40,34.49,24.88,16.08,89.70,56.28,...,0.0,2.0,NaN,NaN,NaN,Communications,1.0,NaN,59.54,36.19
3,AbeAnkumah,193,65.22,98.45,58.43,44.77,32.17,20.73,88.60,53.37,...,0.0,3.0,Female,NaN,NaN,Technology,0.0,NaN,52.33,42.49
4,AdamNash,61,15.98,99.00,41.26,25.77,20.33,13.11,95.08,67.21,...,0.0,4.0,Essay,NaN,NaN,Other,0.0,NaN,68.85,32.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,WendyLea,213,58.83,99.00,12.46,52.17,26.62,19.72,90.61,55.87,...,0.0,2.0,Female,NaN,NaN,Communications,1.0,NaN,71.38,41.78
518,WillWright,325,28.84,99.00,21.70,81.28,108.33,14.46,89.23,59.38,...,0.0,3.0,Male,NaN,NaN,Technology,0.0,NaN,68.92,33.23
519,WilliamDGreen,374,29.41,97.87,20.44,75.40,74.80,20.32,92.51,59.89,...,0.0,1.0,NaN,NaN,NaN,Consumer Discretionary,0.0,NaN,62.83,40.11
520,YorgenEdholm,55,46.23,99.00,14.10,25.77,55.00,16.36,98.18,58.18,...,1.0,3.0,Other,NaN,NaN,Technology,0.0,NaN,81.82,36.36
521,YuchunLee,165,47.97,95.49,28.41,60.23,33.00,18.79,87.88,50.91,...,0.0,3.0,Female,NaN,NaN,Technology,0.0,NaN,49.10,35.15

In [112]:
interview.loc[interview['Filename']=='AaronBell', 'Female'] = 0

In [122]:
interview.loc[interview['Filename']=='AaronBell', 'Gender'] = 'M'

In [123]:
interview

,Filename,WC,Analytic,Clout,Authentic,Tone,WPS,Sixltr,Dic,function,...,Other Sources,Sector_Grouped,Gender_Interviewer,Notes,NotesII,Sector_Grouped_Dic,Female,Female_Interviewer,Communal,Agentic
0,AaronBell,1368,20.97,96.42,40.72,90.71,17.54,12.87,93.49,62.28,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,73.76,31.29
1,AaronLevie,4197,14.19,80.31,40.53,58.68,8.34,11.94,92.09,63.66,...,0.0,3.0,Female,NaN,NaN,Technology,0.0,1.0,74.10,28.88
2,AbbeRaven,398,44.72,98.58,34.40,34.49,24.88,16.08,89.70,56.28,...,0.0,2.0,NaN,NaN,NaN,Communications,1.0,NaN,59.54,36.19
3,AbeAnkumah,193,65.22,98.45,58.43,44.77,32.17,20.73,88.60,53.37,...,0.0,3.0,Female,NaN,NaN,Technology,0.0,1.0,52.33,42.49
4,AdamNash,61,15.98,99.00,41.26,25.77,20.33,13.11,95.08,67.21,...,0.0,4.0,Essay,NaN,NaN,Other,0.0,NaN,68.85,32.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,WendyLea,213,58.83,99.00,12.46,52.17,26.62,19.72,90.61,55.87,...,0.0,2.0,Female,NaN,NaN,Communications,1.0,1.0,71.38,41.78
518,WillWright,325,28.84,99.00,21.70,81.28,108.33,14.46,89.23,59.38,...,0.0,3.0,Male,NaN,NaN,Technology,0.0,0.0,68.92,33.23
519,WilliamDGreen,374,29.41,97.87,20.44,75.40,74.80,20.32,92.51,59.89,...,0.0,1.0,NaN,NaN,NaN,Consumer Discretionary,0.0,NaN,62.83,40.11
520,YorgenEdholm,55,46.23,99.00,14.10,25.77,55.00,16.36,98.18,58.18,...,1.0,3.0,Other,NaN,NaN,Technology,0.0,NaN,81.82,36.36
521,YuchunLee,165,47.97,95.49,28.41,60.23,33.00,18.79,87.88,50.91,...,0.0,3.0,Female,NaN,NaN,Technology,0.0,1.0,49.10,35.15

In [125]:
interview.to_excel('AAQuestionsMerged.xlsx', index = False)

In [124]:
interview['Gender'].value_counts()

M    318
F    204
Name: Gender, dtype: int64

## Stats

In [4]:
table = pd.read_excel('AAQuestionsMerged.xlsx')

In [6]:
table['WC'].sum()

260901